<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <httpRequestProcessed>
        <processor patch:instead="*[@type='Sitecore.XA.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.HandleServerErrorCode, Sitecore.XA.Feature.ErrorHandling']"
                 type="Sitecore.Support.XA.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.HandleServerErrorCode, Sitecore.Support.255691" />
      </httpRequestProcessed>
    </pipelines>
    
  </sitecore>
</configuration>